@import "tailwindcss";
@plugin "daisyui" {
  /* themes: all; */
  themes:
    light --default,
    dark --prefersdark;
}

:root {
  --radius-selector: 0.75rem;
  --radius-field: 0.75rem;
  --radius-box: 0.75rem;
  --depth: 1;
  --noise: 0;
}

* {
  @apply font-sans scroll-smooth transition-all;
}
